DJANGO_SECRET_KEY=change-me-django-secret-key
JWT_SECRET_KEY=change-me-jwt-secret-key
DJANGO_URL=postgres://ft_user:ft_password@db:5432/ft_transcendence

EMAIL_HOST_USER=your-gmail-address@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password

OAUTH2_CLIENT_ID=your-42-oauth-client-id
OAUTH2_CLIENT_SECRET=your-42-oauth-client-secret

POSTGRES_USER=ft_user
POSTGRES_PASSWORD=ft_password
POSTGRES_DB=ft_transcendence
